@model IEnumerable<_2016_06_13_Workout_Manager_ASP.NET_MVC.Models.exercise>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm()) {
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Exercises names", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.e_name)
        </td>
    </tr>
}

</table>
