@model IEnumerable<_2016_06_13_Workout_Manager_ASP.NET_MVC.Models.workout>

@{
    ViewBag.Title = "Workouts";
}

<h2>Workouts</h2>

<table class="table">
    <tr>
        <th>
            Workout names
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.w_name)
        </td>
    </tr>
}

</table>
